#button {
    background-color: #ddd;
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-bottom: 1em;
}
#button:hover {
    cursor: pointer;
}
#clicker {
    min-height: 1em;
    padding: 0.3em;
    background-color: #ddd;
}
#cps {
    min-height: 1em;
    padding: 0.3em;
    background-color: #ddd;
}

p {
    font-weight: bold;
    font-size: 1vw;
}